data/HG00410-ONT-hg38-R9-LSK110-guppy-sup-5mC.hapdup_phased_1.fasta
data/HG00410-ONT-hg38-R9-LSK110-guppy-sup-5mC.hapdup_phased_2.fasta
data/HG00410.LSK110.R9_hapdup_phased_1_rm.out
data/HG00410.LSK110.R9_hapdup_phased_2_rm.out
test_module1_output/