/*
!/haplongliner/
!/legacy/
!/scripts/
!/tests/
!/haplongliner.egg-info/
!/.gitignore
!/README.md
!/LICENSE
!/setup.py
!/pyproject.toml
!/data/L1rp*
!/data/HPRC_L1_hs_v2_v2fl.bed
!/data/HPRC_L1_hs1_master_v2.bed
!/data/HPRC_L1_hs1_master_v2fl.bed
!/data/HPRC_L1_seq_by_site_v2.zip
!/data/HPRC_L1_seq_by_site_v2fl.zip
!/tests/FL.bed
!/tests/HG00410.FL.bed
!/tests/HapLongLINErRM.txt
!/tests/HG00410.1.hs1.fa.HapLongLINErRM.txt
__pycache__/
